# 🔐 Environnement et secrets
.env
.env.*
*.env

# 📦 Environnements virtuels
env/
env_tests/
.venv/

# 📁 Données et résultats
data/
*.csv
archives/

# 🧪 Pytest
.pytest_cache/
__pycache__/
*.pyc

# 💻 Notebooks Jupyter
*.ipynb

# 🛠️ Fichiers spécifiques à Windows (Zone.Identifier)
*:Zone.Identifier

# 🚧 Dossiers de test ou brouillons
app_blank/
